@model Order
@{

    var statusOptions = new Dictionary<int, string>()
{
        { 1, "Accept" },
        { 2, "Processing" },
        { 3, "Shipped" },
        { 4, "Delivered" },
        { 5, "Completed" },
    };
}
<h3>Update Order</h3>

<form asp-action="OrderUpdate" class="form-inline">

    <div class="form-group mb-2">
        <label for="orderStatus" class="visually-hidden">Orderstatus:</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" asp-for="StatusId">

            @foreach (var option in statusOptions)
            {
                @if (Model.StatusId == option.Key)
                {
                    <option value="@option.Key" selected>@option.Value</option>
                }
                else
                {
                    <option value="@option.Key">@option.Value</option>
                }
            }

        </select>
    </div>

    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger mb-2">Update Orderstatus</button>

</form>

<div class="card mt-3 mb-3 simple-linear shadow-lg cart-padding">
    <table class="table table-striped">
        <tr>
            <td>Product</td>
            <td>Quantity ordered</td>
        </tr>
        @foreach (var product in Model.OrderProduct)
        {
            <tr>
                <td>
                    <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.ProductId">@product.Name</a>
                </td>
                <td>
                    @product.Quantity
                </td>
            </tr>
        }
    </table>
</div>